.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center-align{
 vertical-align: middle
}
.image_center{
  align-items: center;
  padding-left: 30%;
/* Justify-Content: center; */
}
  /* container: {
    flex: 1,
    justifyContent: 'center',
    alignItems: 'center'
  }, */